/* Hele siden*/
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}
/* Det øverste på siden*/
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

/* styling til hver sektion */

.section {
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

/*footeren i bunden*/

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
}

