<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}">
    <meta charset="UTF-8">
    <title>Bliv Aktiv</title>
</head>
<body>
<header>
    <h1>Bliv Aktiv som Privatperson</h1>
</header>

<section>
    <h2>Bliv Frivillig</h2>
    <p>Vil du være med til at reducere madspild? Tilmeld dig som frivillig og gør en forskel</p>
    <button>Tilmeld dig</button>
</section>

<section>
    <h2>Bliv Sponsor</h2>
    <p>Du kan også støtte vores initiativer økonomisk.</p>
    <button>Kontakt os</button>
</section>
</body>
</html>


<!-- http://localhost:8080/privat/bliv-aktiv -->